{% extends 'base.html' %}
{% load static %}
{% block title %}Available Shifts{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Available Shifts</h2>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Shift Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for shift in shifts %}
                <tr>
                    <td>{{ shift.shift_name }}</td>
                    <td>{{ shift.start_time }}</td>
                    <td>{{ shift.end_time }}</td>
                    <td>
                        <a href="{% url 'book_shift' shift.id %}" class="btn btn-primary">Book Shift</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
